/* BODY */
body {
  background: radial-gradient(circle at top, #020617, #000000);
  color: #e2e8f0;
  font-family: Arial;
  text-align: center;
  margin: 0;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: #020617;
  border-bottom: 1px solid #22c55e;
}

.logo {
  color: #22c55e;
  font-weight: bold;
  text-shadow: 0 0 10px #22c55e;
}

.menu span {
  margin-left: 20px;
  cursor: pointer;
  color: #38bdf8;
}

/* TITLE */
h1 {
  color: #22c55e;
  text-shadow: 0 0 10px #22c55e, 0 0 25px #22c55e;
}

/* BALANCE */
.balance {
  font-size: 24px;
  margin: 20px;
  color: #38bdf8;
}

/* WHEEL */
.wheel-wrapper {
  position: relative;
  width: 300px;
  margin: 20px auto;
}

.arrow {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  color: #fff;
  text-shadow: 0 0 10px white, 0 0 20px white;
}

/* CONTROLS */
input, select, button {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  border: none;
}

/* BUTTONS POP */
button {
  background: linear-gradient(135deg, #22c55e, #4ade80);
  color: black;
  box-shadow: 0 0 10px #22c55e, 0 0 25px #22c55e;
  cursor: pointer;
  transform: scale(1);
  transition: all 0.15s ease;
}

button:hover {
  transform: scale(1.08);
  box-shadow: 0 0 20px #22c55e, 0 0 40px #22c55e;
}

button:active {
  transform: scale(0.95);
  box-shadow: 0 0 5px #22c55e;
}

button:disabled {
  background: #555;
  cursor: not-allowed;
  box-shadow: none;
}

/* RESULT / MESSAGE */
.result {
  font-size: 28px;
  margin-top: 20px;
}

.message {
  margin-top: 15px;
  font-size: 22px;
}

.win {
  color: #22c55e;
  text-shadow: 0 0 10px #22c55e;
}

.lose {
  color: #ef4444;
  text-shadow: 0 0 10px #ef4444;
}